<h1>Wine Lookup Database</h1>

<form method="post">
    <label for="Name">Your Name</label>
    <input name="Name" maxlength="10" /><br />
    <label for="Price">Max Price</label>
    <input name="Price" maxlength="5" /><br />
    <label for="Points">Max Points</label>
    <input name="Points" maxlength="5" /><br />
    <button type="submit">Search</button>
</form>
