<link href="style.css" rel="stylesheet">

<body>

    <h1 id="h1">Welcome to our Wine Selection</h1>

    <h3 id="h3"> Enter your desired price and spectator points</h3>

    <div class="form">
        <form method="post">

            <label for="Name">Name</label>
            <input maxlength="20" name="Name" /> <br />

            <label for="Number">Points</label>
            <input maxlength="2" name="Number" /> <br />

            <label for="Name">Price</label>
            <input maxlength="20" name="Name" /> <br />

            <button type="submit">Find Your Wine</button>

        </form>
    </div>
    
</body>
