<h1>Welcome to our Wine Selection</h1>
<p> Enter a price and points</p>

<form method="post">

    <label for="Name">Name</label>
    <input maxlength="20" name="Name" /> <br />

    <label for="Number">Points</label>
    <input maxlength="2" name="Number" /> <br />

    <label for="Name">Price</label>
    <input maxlength="20" name="Name" /> <br />

</form>